body {
    margin: 0;
    font-family: Arial, sans-serif;
}
 
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch;
}
 
header, footer {
    background-color: #0099ff;
    color: white;
    padding: 20px;
    text-align: center;
}
 
.content {
    flex-grow: 1;
    display: flex;
}
 
.nav, .sidebar {
    flex: 0 0 200px;
    background-color: #6ef7d5;
}
 
.main {
    flex-grow: 1;
    background-color: #f5256a;
    display: flex;
}